@import url('https://fonts.googleapis.com/css?family=Abel');
nav
	{
		height: 80px;
		background-image: url("images/banner-2887341_960_720.png");
		padding: 0 60px;
		background-size: 1000px 80px;
		background-repeat: no-repeat;
		margin: 20 60px;
	}
	
nav ul li
	{
		display: inline-block;
	}	
body {
	background-image: url("images/light-fire.jpg");
	background-repeat: no-repeat;
	background-size: 1600px 6400px;
	font-family: 'Abel', sans-serif;
}
div
	{
		height:900px;
		padding-top:0 auto;
		margin: 0px;
		font-size: 150%;
		font-weight: bold;
		border-style: double;
		border-color: #665600;
		background-color: #665600;
	}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}
#times {
    margin-left: 20px;
	color: white;
}
#blurbs {
	color: white;
		font-weight: bold;
		margin-left: 20px;
}
#s1
	{
		background-color: #FC4B03;
		background-image: url("images/burning-cross.jpg");
		background-repeat: no-repeat;
		background-size: 1600px 1330px;
		background-position: center; 
		height: 1300px;
	}

#s2
	{
		background-color: #665600;
		background-image: url("images/candles-2628473_960_720.jpg");
		background-repeat: no-repeat;
		background-size: 1600px 1000px;
	}	
	
#s3
	{
		background-color: #805500;
		background-image: url("images/jaufenpass-2799572_960_720.jpg");
		background-repeat: no-repeat;
		background-size: 1600px 1000px;
	}
	
#s4
	{
		background-color: gray;
		background-image: url("images/art-1703880_960_720.jpg");
		background-repeat: no-repeat;
		background-size: 1600px 1000px;
		background-position: center; 
	}
	
#s5
	{
		background-color: #998100;
		background-image: url("images/Milky_Way_IR_Spitzer.jpg");
		background-repeat: no-repeat;
		background-size: 1600px 1000px;
	}

#s6
	{
		background-color: #665600;
		background-image: url("images/Sunspot_TRACE.jpeg");
		background-repeat: no-repeat;
		background-size: 1600px 1000px;
	}
footer
	{
		background-color: black;
		outline:1px solid #665600;;
	}
	.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}
img {
	margin-left: 20px;
	float: left;
}

h1 {
	color: red;
	background-color: #665600;
	text-align: center;
	font-size: 44px;
	background: url('images/header-background-indexed.png');
	padding: 40px 10px;
	height:68px;
	font-weight: bold;
	background-size: 1000px 200px;
	margin: 0;
}
a {
	margin-left: 20px;
}
nav a {
	color: #665600;
    font-weight: bold;
	padding: 10px 10px;
    font-size: 16px;
	margin:19px;
	font-family: 'Abel', sans-serif;
}
	p {
		color: white;
		font-weight: bold;
		margin-right: 20px;
	}	
#church-it {
	position: absolute;
	
}
#ending {
	color: red;
}
